---
import '../styles/global.css';
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {title}
    </title>
    <meta name="description" content={description} />
    <link
      rel="icon"
      href="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🚀</text></svg>"
    />
    <script
      defer
      src="https://analytics.varnebla.dev/script.js"
      data-website-id="9925a7fd-1e3a-4cee-9f5f-e74228f74516"></script>
    <script>
      if (!import.meta.env.PROD) localStorage.setItem('umami.disabled', '1');
    </script>
  </head>
  <body class="bg-gray-50 min-h-screen flex flex-col">
    <Navbar />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
