---
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Optimizador de Imágenes</title>
  </head>
  <body class="bg-gray-50 min-h-screen">
    <slot/>
  </body>
</html>